@page "/login"
@using GeminiBlazor.Services
@inject AuthService AuthService
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using GeminiBlazor.Pages

<EditForm Model="@loginModel" OnValidSubmit="IniciarSesion">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/Style.css" rel="stylesheet" />
    </head>

    <div class="container" style="min-height: 70vh;">
        <div class="form-container">
            <fieldset class="fieldset-custom">
                <legend class="legend">Inicio de Sesión</legend>

                <div class="form-group">
                    <label for="NombreUsuario">Nombre de Usuario:</label>
                    <InputText id="NombreUsuario" @bind-Value="loginModel.NombreUsuario" class="form-control" placeholder="Nombre de Usuario" />
                </div>

                <div class="form-group">
                    <label for="Clave">Clave:</label>
                    <InputText id="Clave" @bind-Value="loginModel.Clave" type="password" class="form-control" placeholder="Clave" />
                </div>


                <div class="form-group d-flex" style="gap: 20px;">
                    <button type="submit" class="btn-custom">Iniciar sesión</button>
                    <button @onclick="ReguitroModule" class="btn-custom" type="button">Registrar usuario</button>
                </div>

            </fieldset>
        </div>
    </div>




</EditForm>



@if (loginError)
{
    <div style="color:red;">Credenciales incorrectas. Intenta de nuevo.</div>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private bool loginError = false;

    private async Task IniciarSesion()
    {
        var success = await AuthService.LoginAsync(loginModel.NombreUsuario, loginModel.Clave);
        if (success)
        {
            // Si el login es exitoso, redirigimos al formulario
            Navigation.NavigateTo("/GR");  // Cambia "/formulario" por la ruta de tu formulario
        }
        else
        {
            loginError = true;
        }
    }

    public class LoginModel
    {
        public string NombreUsuario { get; set; }
        public string Clave { get; set; }
    }

    private async Task ReguitroModule()
    {

        // Si el login es exitoso, redirigimos al formulario
        Navigation.NavigateTo("/registro");  // Cambia "/formulario" por la ruta de tu formulario

    }
}
