@using QrBlazorServices.Components.Layout
@using Radzen
@using Radzen.Blazor


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Bootstrap (opcional) -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <!-- ✅ Radzen Material Theme -->
    <link href="_content/Radzen.Blazor/css/material-base.css" rel="stylesheet" />
    <link href="_content/Radzen.Blazor/css/material.css" rel="stylesheet" />

    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="QrBlazorServices.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>

