@inject IJSRuntime JS

<HeadContent>
    <link href="css/navmenu.css" rel="stylesheet" />
    <script src="js/carnet.js"></script> <!-- si lo necesitas -->
</HeadContent>


<div class="">
    <input type="checkbox" id="nav-toggle" title="Navigation menu" class="navbar-toggler" hidden />

    <div class="sidebar" @onclick="ToggleMenu">
        <nav class="nav flex-column">
            <!--<NavLink href="/login" class="nav-link">Inicio de sesión</NavLink>-->
            <!--<NavLink href="/agregar" class="nav-link">Agregar Usuario</NavLink>-->
            <!--<NavLink href="/rz" class="nav-link">destroyed</NavLink>-->
            <!--<NavLink href="/registro" class="nav-link">Modulo Entidades</NavLink>-->
            <!--<NavLink href="/Documentos" class="nav-link">Documentos</NavLink>-->
            <!--<NavLink href="/correo" class="nav-link">Correos</NavLink>-->
            <!--<NavLink href="/Banco" class="nav-link">Banco De Documentos</NavLink>-->
            <!--<NavLink href="/entidades" class="nav-link">Entidades</NavLink>-->
            <NavLink href="/menu" class="nav-link">Tabs Menu Entidades</NavLink>
            <NavLink href="/menuDoc" class="nav-link">Menu Documentos</NavLink>
            <NavLink href="/menuCat" class="nav-link">Menu Categoria</NavLink>
            <NavLink href="/MenuCorreos" class="nav-link">Menu Correos</NavLink>
        </nav>
    </div>
</div>

@code {

        private void ToggleMenu()
    {
        // Ejecuta JavaScript para hacer "click" en el checkbox del menú
        JS.InvokeVoidAsync("document.querySelector('.navbar-toggler').click");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("loadCarnetScripts");
        }
    }
}
